<ion-content class="pos-rel">
  <!-- <swiper #swiper [config]="config">
      <ng-template swiperSlide *ngFor="let item of imagesIntro.slides;let index=index">
          <ion-img [src]="imagesIntro.folder+item.link" class="image"></ion-img>
      </ng-template>
  </swiper> -->
  <swiper-container loop="true" navigation="true"  [slidesPerView]="2" [loop]="true">
    <swiper-slide *ngFor="let item of imagesIntro.slides">
      <ion-img [src]="imagesIntro.folder+item.link" class="image"></ion-img>
    </swiper-slide>
  </swiper-container>
  <div class="overlay"></div>

  <span class="pos-abs">
      <div style="text-align:center;">
          <ion-button color="ennajma" expand="block" (click)="setLanguage('en')">
              <ion-text class="text-welcome" color="light">English</ion-text>
          </ion-button>
      </div>
      <div style="text-align:center;">
          <ion-button color="ennajma" expand="block" (click)="setLanguage('fr')">
              <ion-text class="text-welcome" color="light">Français</ion-text>
          </ion-button>
      </div>
      <div style="text-align:center;">
          <ion-button color="ennajma" expand="block" (click)="setLanguage('ar')">
              <ion-text class="text-welcome" color="light">العربية</ion-text>
          </ion-button>
      </div>
  </span>
</ion-content>
