<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title>{{data()?.location.name || ''}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div [innerHTML]="data()?.location.description"></div>
  <swiper-container loop="true" navigation="true"  [slidesPerView]="2" [loop]="true">
    @if(data()?.attachement){
      <swiper-slide *ngFor="let item of data().attachement">
        <img [src]="imagebaseUrl+item.link">
      </swiper-slide>
    }
  </swiper-container>
</ion-content>
