swiper-container {
  --swiper-pagination-bullet-inactive-color: var(--ion-color-step-200, #cccccc);
  --swiper-pagination-color: var(--ion-color-primary, #0054e9);
  --swiper-pagination-progressbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.25);
  --swiper-scrollbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1);
  --swiper-scrollbar-drag-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.5);
}

swiper-slide {
  display: flex;
  position: relative;

  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  font-size: 18px;

  text-align: center;
  box-sizing: border-box;
}

swiper-slide img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

/* Global styles */
ion-content {
  --ion-background-color: #f4f4f4; /* Couleur de fond de la page */
}

/* Toolbar styles */
ion-toolbar {
  --background: #D2B48C; /* Couleur de fond de la barre d'outils */
  color: #fff; /* Couleur du texte de la barre d'outils */
}

/* Boutons styles */
ion-button {
  --background: #D2B48C; /* Couleur de fond des boutons */
  --color: #fff; /* Couleur du texte des boutons */
}

/* Carte styles */
ion-card {
  --background: #fff; /* Couleur de fond de la carte */
  --ion-color-base: #fff; /* Couleur du texte de la carte */
  --ion-color-text: #fff; /* Couleur du texte de la carte */
}

/* FAB styles */
ion-fab-button {
  --background: #D2B48C; /* Couleur de fond du bouton FAB */
  --color: #fff; /* Couleur du texte du bouton FAB */
}
