// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root{
  --ion-color-ennajma: #D6A266;
  --ion-color-ennajma-rgb: 164, 134, 12;
  --ion-color-ennajma-contrast: #000000;
  --ion-color-ennajma-contrast-rgb: 0, 0, 0;
  --ion-color-ennajma-shade: #D6A266;
  --ion-color-ennajma-tint: #D6A266;
}
