<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" [ios]="lang()==='ar'?'caret-forward':'caret-back'" [md]="lang()==='ar'?'caret-forward':'caret-back'"></ion-icon>
      </ion-button>
    </ion-buttons>
      <ion-title>{{"Introduction" | translate}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- {{isEnabled}} -->
  <ion-row>
    <ion-card color="ennajma">
      <ion-card-content>
        <div [dir]="intro$()?.rtl?'rtl':'ltr'" id="tts" [innerHTML]="intro$()?.description"></div>

        <ion-button (click)="start()" fill="clear" *ngIf="!playing"  >
          <ion-icon slot="icon-only" name="play"></ion-icon>
        </ion-button>
        <ion-button (click)="pause()" *ngIf="playing" fill="clear"  >
          <ion-icon slot="icon-only" name="pause" *ngIf="!paused"></ion-icon>
          <ion-icon slot="icon-only" name="play"  *ngIf="paused"></ion-icon>
        </ion-button>
        <ion-button (click)="cancel()" *ngIf="playing" fill="clear"  >
          <ion-icon slot="icon-only" name="close-circle"></ion-icon>
        </ion-button>

      </ion-card-content>
  </ion-card>

</ion-row>

</ion-content>
<ion-fab slot="fixed" horizontal="end" vertical="bottom" class="ion-margin">
  <ion-fab-button (click)="scan()">
    <ion-icon name="qr-code-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
<div id="reader" width="600px" style="z-index: 999999;"></div>
